.callout.callout.callout[data-callout-metadata="npcs"] {
   --callout-icon: users;
   --callout-color: 173, 121, 255;
}

.callout.callout.callout[data-callout-metadata="pois"] {
   --callout-icon: map-pin;
   --callout-color: 225, 225, 102;
}

.callout.callout.callout[data-callout-metadata="shops"] {
   --callout-icon: shopping-cart;
   --callout-color: 90, 225, 120;
}

.callout.callout.callout[data-callout-metadata="map"] {
   --callout-icon: map;
   --callout-color: 102, 255, 255;
}

.callout.callout.callout[data-callout-metadata="districts"] {
   --callout-icon: locate;
   --callout-color: 255, 102, 192;
}

.callout.callout.callout[data-callout-metadata="overview"] {
   --callout-icon: search;
   --callout-color: 255, 255, 255;
}

.callout.callout.callout[data-callout-metadata="landmarks"] {
   --callout-icon: landmark;
   --callout-color: 225, 225, 102;
}

.callout.callout.callout[data-callout-metadata="settlements"] {
   --callout-icon: building-2;
   --callout-color: 90, 225, 120;
}

.callout.callout.callout[data-callout-metadata="sessionlogs"] {
   --callout-icon: album;
   --callout-color: 255, 255, 255;
}

.callout.callout.callout[data-callout-metadata="quests"] {
   --callout-icon: alert-circle;
   --callout-color: 225, 225, 102;
}

.callout.callout.callout[data-callout-metadata="sidequests"] {
   --callout-icon: help-circle;
   --callout-color: 225, 178, 102;
}

.callout.callout.callout[data-callout-metadata="servicerequests"] {
   --callout-icon: tag;
   --callout-color: 102, 255, 102;
}

.callout.callout.callout[data-callout-metadata="letters"] {
   --callout-icon: mail;
   --callout-color: 255, 102, 192;
}

.callout.callout.callout[data-callout-metadata="party"] {
   --callout-icon: users;
   --callout-color: 102, 178, 255;
}

.callout.callout.callout[data-callout-metadata="friend"] {
   --callout-icon: thumbs-up;
   --callout-color: 80, 250, 57;
}

.callout.callout.callout[data-callout-metadata="foe"] {
   --callout-icon: thumbs-down;
   --callout-color: 250, 42, 42;
}

.callout.callout.callout[data-callout-metadata="holdings"] {
   --callout-icon: warehouse;
   --callout-color: 45, 260, 255;
}


/* https://lucide.dev */